@model Web.Models.FeedBack

@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FullName)
        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Subject)
        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message)
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}