
@{
    ViewBag.Title = "Test1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kỹ năng mềm - Trang mở đầu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-xxxxxxx" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/Content/Test1.css">*@

</head>



<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Kỹ năng mềm</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Course", "Course")">Khóa học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Lesson", "Lesson")">Bài học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Test", "Test")">Bài kiểm tra</a>
                    </li>   
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>
        </header>

        <main>
            <div class="Header">
                <div class="logo"><img src="~/Content/images/GT2.jpg"></div>
                <h2>Kỹ Năng Giao tiếp</h2>
            </div>

            <script src="https://codetienich.github.io/dulieu/mainquiz1.js" type="text/javascript"></script>
            <div class="quiz-main" data-quiztype="Graded" data-duration="0">
                <ul>
                    <div class="separator" style="clear: both;">
                        <b><span style="color: red;">Phải làm đủ các câu thì phần <span style="color: blue;">"Kiểm tra kết quả"</span> mới hiện ra
                    </div></br>
                    <li data-sectionid="1" class="quiz-section">
                        <div class="quiz-section-title">
                            <b><span style="color: black; font-family: Times, Times New Roman, serif;">Câu 1: </span></b><b><span style="color: black; font-family: Times, Times New Roman, serif;">Theo bạn, kỹ năng giao tiếp tốt sẽ quyết định bao nhiêu sự thành công của bạn trong công việc và cuộc sống?</span></b>
                        </div>
                        <div class="quiz-section-content">
                            <div class="item item-question item-choices">
                                <ul class="list btn-group group-theme">
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-1" data-status=0 data-point=0 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> 70% </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-1" data-status=1 data-point=1 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> 85% </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-1" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> 50% </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-1" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview">20% </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <br />


                    <li data-sectionid="2" class="quiz-section">
                        <div class="quiz-section-title">
                            <b><span style="color: black; font-family: Times, Times New Roman, serif;">Câu 2: </span></b><b><span style="color: black; font-family: Times, Times New Roman, serif;">Xác định được các yếu tố quan trọng trong giao tiếp sẽ giúp bạn giao tiếp hiệu quả hơn như thế nào?</span></b>
                        </div>
                        <div class="quiz-section-content">
                            <div class="item item-question item-choices">
                                <ul class="list btn-group group-theme">
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-2" data-status=1 data-point=1 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Tạo, thấu hiểu, chia sẻ cảm xúc qua thông điệp, phản hồi thông điệp một cách tích cực và đồng thời nhận biết được các yếu tố gây nhiễu </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-2" data-status=0 data-point=0 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Giúp bạn tiết kiệm thời gian khi giao tiếp  </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-2" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Giúp giao tiếp dễ dàng hơn </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-2" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview">Lắng nghe hiệu quả hơn</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li data-sectionid="3" class="quiz-section">
                        <div class="quiz-section-title">
                            <b><span style="color: black; font-family: Times, Times New Roman, serif;">Câu 3: </span></b><b><span style="color: black; font-family: Times, Times New Roman, serif;">Đáp án nào sau đây mô phỏng chuẩn xác nhất quy trình lắng nghe trong giao tiếp?</span></b>
                        </div>
                        <div class="quiz-section-content">
                            <div class="item item-question item-choices">
                                <ul class="list btn-group group-theme">
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-3" data-status=1 data-point=1 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Tập trung – Tham dự - Hiểu – Ghi nhớ - Hồi đáp – Phát triển  </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-3" data-status=0 data-point=0 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Tập trung – Hiểu – Hồi đáp </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-3" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Tập trung – Hiểu – Tham dự - Hồi đáp – Phát triển </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-3" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview">Tập trung – Quan sát – Hiểu – Hồi đáp – Tham dự</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li data-sectionid="4" class="quiz-section">
                        <div class="quiz-section-title">
                            <b><span style="color: black; font-family: Times, Times New Roman, serif;">Câu 4: </span></b><b><span style="color: black; font-family: Times, Times New Roman, serif;">Ấn tượng đầu tiên bạn ghi điểm với người giao tiếp với mình là yếu tố nào sau đây? </span></b>
                        </div>
                        <div class="quiz-section-content">
                            <div class="item item-question item-choices">
                                <ul class="list btn-group group-theme">
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-4" data-status=1 data-point=1 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Dáng điệu, cử chỉ và trang phục </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-4" data-status=0 data-point=0 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Cách nói chuyện hài hước  </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-4" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Lời chào thân ái </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-4" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview">Cách mở đầu câu chuyện của bạn</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li data-sectionid="5" class="quiz-section">
                        <div class="quiz-section-title">
                            <b><span style="color: black; font-family: Times, Times New Roman, serif;">Câu 5: </span></b><b><span style="color: black; font-family: Times, Times New Roman, serif;">Giao tiếp không hiệu quả sẽ dẫn đến hậu quả chính nào?</span></b>
                        </div>
                        <div class="quiz-section-content">
                            <div class="item item-question item-choices">
                                <ul class="list btn-group group-theme">
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-5" data-status=1 data-point=1 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Xảy ra hiểu nhầm </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-5" data-status=0 data-point=0 /> <span class="mark"></span></label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Mọi người không lắng nghe nhau </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-5" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview"> Người nói không thể đưa ra chỉ dẫn rõ ràng </div>
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <label class="overlabel"><input type="radio" class="hide" name="option-5" data-status=0 data-point=0 /> <span class="mark"></span> </label>
                                        <div class="boxcheck">
                                            <div class="answer-desc textview">Mọi người không làm theo bạn</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <br />
                    <div class="quiz-check">
                        <div class="quiz-result hide"></div>                      
                        <a class="btn btn-primary disabled check-quiz">Kiểm tra kết quả</a>
                        <a class="btn hide reset-quiz">Làm lại</a>
                    </div>
            </div>



        </main>
    </body>
</html>